//Colors of project

//Brand colors

$primary-normal: #3761A1;
$primary-light: #5283CE;
$primary-dark: #1C3760;

$secundary-normal:#44B6B6;
$secundary-light:#7FDFDF;
$secundary-dark:#1F8585;

//Neutral colors

$white-normal: #E5EFEF;
$white-light: #EEF1F1;
$white-dark: #C6E5E5;

$black-normal: #353436;
$black-light: #4D4C4E;
$black-dark: #232224;

//Grey Scale

$grey-normal:#767576;
$grey-light:#868587;
$grey-dark:#666566;

// Auxiliary colors

$red-normal: #EB3D3D;
$red-light: #F05454;
$red-dark: #D03333;

$green-normal: #32D957;
$green-light: #50E170;
$green-dark: #28BB49;

$yellow-normal: #FFCE52;
$yellow-light: #FFD76B;
$yellow-dark: #D9B043;

.color-blue{
    color: $secundary-light;
}